body {
    background-color: antiquewhite;
    background-image:url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2674&q=80");
    /* photo created by David Marcu, from https://unsplash.com/photos/78A265wPiO4 */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* hightlight where we are */
.logo a {
    color: orange;
}

/* slogan */
#slogan {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#slogan h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
