/* background setting*/
body {
    background-image:url('../media/resource_background.jpg');
    /* photo created by David Marcu, from https://unsplash.com/photos/78A265wPiO4 */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* hightlight where we are */
#resources4 {
    color: orange;
}

.card-container {
    display: flex;
    /* Allows the cards to wrap to the next line if there isn't enough space */
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    background-color: #758a99;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    /* Prevents the card from shrinking if there's not enough space */
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card h1 {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    transition: 0.3s;
    z-index: 2;
}

.card .content {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    opacity: 0;
}

.card.active .content {
    top: 0;
    opacity: 1;
}

.card.active .photo {
    filter: blur(3px);
}

.card.active h1 {
    bottom: auto;
    top: 20px;
    background: transparent;
}

.card h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.card a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
    text-decoration: none;
}

.card a:hover {
    color: #fff;
}

/* learn more button */
.more {
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 32px;
    border-radius: 8px;
    margin-top: 20px;
    transition: 0.3s;
}

.more:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

/* for tablet and phones in landscape */
@media (max-width: 1194px) {
    
}

/* for mobile screen */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }  
}