body {
    background-color: #f5f7fa;
    /* Remove background image */
    height: 100vh;
}

/* hightlight where we are */
.logo a {
    color: orange;
}

/* slogan */
#slogan {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#slogan h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
